<li>
  {{#link-to 'post' post.id}}{{post.title}}'s {{post.category}}  on {{post.date}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{post.image}} alt={{post.category}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>
