<div class="media" style="width:85%;">
<br>  <br>
  <div class="media-left">
        <h4 class="media-heading">{{post.title}}</h4>
    <img src={{post.image}} class="media-object" alt={{post.category}}>

  </div>
  <div class="media-body">
    <br>  <br>
    <p>{{post.body}}</p>
    <br>Posted by {{post.name}}
    <br>Date Posted {{post.date}}
    <p class="category">"{{post.category}}"</p>
      <br>  <br>
    {{update-post post=post update="update"}}
    <br>
    <button {{action 'delete' post}}>Delete post</button>
    <br>
  </div>

  </div>
<hr>


<!-- <div class="well" style="width:85%;">
  <div class="card-block">
    <h4 class="title">{{post.title}}</h4>
    <br>posted by {{post.name}}
    <p class="category">"{{post.category}}"</p>
    <p class="body">{{post.body}}</p>
    <p><img src={{post.image}} alt={{post.category}}></p>
    <br>
    {{update-post post=post update="update"}}
    <br>
    <button {{action 'delete' post}}>Delete post</button>
    <br>
  </div>
</div> -->
